body {
     background:  url("https://raw.githubusercontent.com/tobiarnold/Sachsenheim_Geocache/main/cropped-benjamin-davies-Zm2n2O7Fph4-unsplash.jpg") no-repeat center center fixed;
    font-family: "Open Sans", Arial;
    text-align: center;
     position:relative;
    margin: auto;
    color: white;
    font-weight: bold;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    }
h1 {
    text-align: center;
     margin-top: 150px;
}
h1 span {
    background-color: #74b129;
    border-radius: 5px 5px 5px 5px;
}
p{
   color: white;
 text-shadow: -1px 0 #74b129, 0 1px #74b129, 1px 0 #74b129, 0 -1px #74b129;
}
.text{
    margin-bottom: 50px;
        
    }   
    
.nutzereingabe{
    position:relative;
    left:50%;
    transform: translate(-50% 50%);
}

input[type="text"]{
    height: 50px;
    border:none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
button{
     box-sizing: border-box;
    border:none;
    left: -5px;
    position: relative;
    outline: none;
    border-radius: 0 25px 25px 0;
    height: 50px;
     background: #ffc107;
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    margin-left: -10px;
    transition: all 0.5s ease;
    color: black;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
	font-weight: normal;
}
img {
     position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}